<h2>cadastrar noticia</h2>
<blockquote>
    Genero : {{noticia.ColunaId}}<br />
    Noticia : {{noticia.CorpoNoticia}}
</blockquote>
<form name="noticiaForm" ng-submit="postarnoticia(noticia)" class="form-group">
    <label>Genero</label>
    <select id="ColunaId" name="ColunaId" ng-model="noticia.ColunaId" class="form-control">
        <option value="Esporte">Esporte</option>
        <option value="Musica">Musica</option>
        <option value="Politica">Politica</option>
    </select>
    <label>Noticia</label>
    <input type="text" name="CorpoNoticia" ng-model="noticia.CorpoNoticia" class="form-control"/><br />
    <button type="submit" class="btn btn-success">cadastrar</button>
</form>