
<form class="form-group" name="editarForm" ng-submit="updateNoticia(noticia)">
    <h2>Editar Noticia</h2>
    <div class="form-group">
        <label>Genero</label>
        <select ng-model="noticia.ColunaId" class="form-control">
            <option value="Esporte" selected>Esporte</option>
            <option value="Musica">Musica</option>
            <option value="Politica">Politica</option>
        </select>
    </div>
    <div class="form-group">
        <label>Noticia</label>
        <input type="text" value="{{noticia.CorpoNoticia}}" name="CorpoNoticia" ng-model="noticia.CorpoNoticia" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Editar</button>
</form>